<!------------------------------------------------------------------------------------Modal for adding operator--->
<ng-template #addOperatorTemplate class="modal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Operator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <!-- //this x is to close the modal-->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--//On form submission, the Branch is added to the database through the service-->
    <form class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-row">
        <label>Operator's Name</label>
        <input class="form-control" [(ngModel)]="operator.name" name="name">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-row">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="operator.username" name="username">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-row">
        <label>Password</label>
        <input class="form-control" [(ngModel)]="operator.password" name="password">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
      <div class="form-row">
        <label>Branch</label>
        <select class="form-control" [(ngModel)]="operator.branchID" name="branch">
          <option *ngFor="let branch of branches" [value]="branch.id" [selected]="operator.branchID == branch.id">{{branch.name}}</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
      <div class="form-row">
        <button style="float: right;" type="reset" value="Reset" class="btn btn-outline-danger"
                (click)="closeModal()">Cancel</button>
        <button style="float: right;" type="submit" value="Submit" class="btn btn-outline-primary"
        >Add Item</button>
      </div>
    </form>
  </div>
  <!-- Alerts if the add item form is missing something-->
  <div *ngIf = "alertSuccess===true" class="alert alert-success">
    <strong>Branch added successfully.</strong>
  </div>
  <div *ngIf = "alertFailure===true" class="alert alert-danger">
    <strong>Branch not added. </strong>Please fill all required fields
  </div>
</ng-template>
<!---------------------------------------------------------------------------buttons at the top of the page--->
<div class="container">
  <div class="row">
    <button type="button" style="margin:1%" class="btn btn-outline-info btn-lg"
            (click)="openModal(addOperatorTemplate)">Add Operator</button>
    <button type="button" style="margin:1%" class="btn btn-outline-dark btn-lg"
            (click)="selectAllOperatos($event)" >Select All</button>
    <button type="button" style="margin:1%" class="btn btn-outline-dark btn-lg"
            (click)="deselectAllOperators($event)" >Deselect All</button>
    <button type="button" style="margin:1%" class="btn btn-outline-primary btn-lg"
            (click)="updateSelectedOperators($event)">Save Selected</button>
    <button type="button" style="margin:1%" class="btn btn-outline-danger btn-lg"
            (click)="deleteSelectedOperators($event)">Delete Selected</button>
  </div>
</div>
<!---------------------------------------------------------------------------List of operators--->
<div class = "container" *ngIf = "branches?.length > 0;else noOperators">
  <ul class="list-group">
    <li class="list-group-item">
      <label class="container">
      </label>
      <div class="input-group">
        <label  class="form-control" >Branch</label>
        <label  class="form-control" >Name</label>
        <label  class="form-control" >Username</label>
        <label  class="form-control" >Password</label>
        <label  style="width:170px" ></label>
      </div>
    </li>
  </ul>
  <ul *ngFor="let operator of operators" class="list-group">
    <li class="list-group-item">
      <label class="container">
        <input class="form-control checkbox-class" type="checkbox" [checked]=operator.selected (change)="selectOperator($event, operator)" value={{operator.id}}>
        <span class="checkmark"></span>
      </label>
      <div class="input-group">
        <select class="form-control" [(ngModel)]="operator.branchID">
          <option *ngFor="let branch of branches" [value]="branch.id" [selected]="operator.branchID == branch.id">{{branch.name}}: {{branch.location}}</option>
        </select>
        <input class="form-control list-element-input" [(ngModel)]="operator.name">
        <input class="form-control list-element-input" [(ngModel)]="operator.username">
        <input class="form-control list-element-input" [(ngModel)]="operator.password">
        <button  type="button"class="btn btn-outline-danger"
                 (click)="deleteOperator($event, operator)">delete</button>
        <button  type="button"class="btn btn-outline-primary"
                 (click)="updateOperator($event, operator)" >confirm</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #noOperators>
  <div class = "container">
    <hr>
    <h5>There are no operators to list</h5>
  </div>
</ng-template>
